* {
box-sizing: border-box;

}

body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #282D40;
}
main{
  margin-left: 5%;
  margin-right: 5%;
}
.main-header{
  background-color: #282D40;
  color: white;
  padding: 50px;
}
.main-header h1 {
  margin: 0;
  text-align: center;
  font-size:2em;
}

.contactInfo{
    margin-bottom: 40px;
}
legend {
 font-size: 25px;
 margin: 10px;
 padding-top: 10px;
 font-weight: bold;
}
.contactInfo,
.newsletterInfo {
  text-align: left;
}
.topSignup {
  border-bottom: 5px solid black;
}
.topSignup p {
  font-size: 1.3em;
}
.signSheet {
  border-top: 2.5px black solid;
  margin-top: 5px;
}

input::placeholder {
  color: grey;
  text-align: right;
}

.signSheet input, .signSheet select{
  display: flex;
  flex-direction: column;
}
.contactInfo input:focus,
.contactInfo select:focus {
  border: 2.3px #282D40 solid;
}


.contactInfo input, .contactInfo select{
  width: 100%;
  background-color: whitesmoke;
  border: none;
  /* border-radius: 5px; */
  height: 30px;
  padding: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contactInfo select {
  height: 50px;
  width: 100%;
  font-size: 15px;
  color: grey;

}
.zipClass{
  max-width: 40%;

}

.newsletterInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  border-top: 1px black solid;
}
.flexAlign {
  display: flex;
  margin-top: 15px;
}
.flexAlign label {
  margin-left: 5px;
}

textarea {
  width: 100%;
  border: none;
  background-color: whitesmoke;
  resize: none;
  height: 100px;
  border-radius: 5px;
  margin-top: 15px;

}

 /* Testing button stuff */









.checkDiv{
  width: 25px;
  margin-right: 10px;
  position: relative;

}
.checkDiv [class ="checkTest"] {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #2BCAFF;
    /* border:1px solid #ddd; */
    border-radius: 5px;

}
.checkDiv [class ="checkTest"]::after{
  opacity: 0.2;
   content: '';
   position: absolute;
   width: 8px;
   height: 4px;
   background: transparent;
   top: 5px;
   left: 4px;
   border: 3px solid white;
   border-top: none;
   border-right: none;

   transform: rotate(-45deg);


}

.checkDiv [class ="checkTest"]:hover::after {
    opacity: 0.5;
}

.checkDiv input[type=checkbox]:checked + [class ="checkTest"]:after {
    opacity: 1;
}



 input[type="checkbox"],
 input[type="radio"] {
     visibility: hidden;
}
.radContainer{
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}
.radContainer input{
  position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radTest{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #69D9FF;
    border-radius: 50%;
}
.radContainer:hover input ~ .radTest {
    background-color: #2BCAFF;
}
.radContainer input:checked ~ .radTest {
    background-color: #2BCAFF;
}
.radTest:after {
    content: "";
    position: absolute;
    display: none;
}
.radContainer input:checked ~ .radTest:after {
    display: block;
}
.radContainer .radTest:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
#noMargin{
  margin-top: 3px;
}


/* end of button test  */



.newsForm button {
  width: 90%;
  display: flex;
  margin: auto;
  background-color: #2BCAFF;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  justify-content: center;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}
.newsForm button:active{
  transform: scale(.98);
}
footer p {
  color:grey;
  margin-bottom: 200px;
}




/* Other  */
.debug {
  border: 1px solid tomato;
}


fieldset {
    border: 0;
}



/* Media Queries  */
@media (min-width: 768px) {
  main{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 50%;
      margin: auto;
  }
  .contactFlex{
    display: flex;
  }
  .contactFlex label{
    width: 30%;
    position: relative;
    top:13px;
  }

  .zipClass{
    max-width: 15%;
  }
  label[for="zipInput"]{
    max-width: 15%;
    margin-right: 55px;
  }


  .newsForm{
    width: 100%;
  }
  fieldset{
    padding: 0;
    padding-bottom: 10px;
  }
  .signSheet button {
    width: 100%;
  }
  .main-header {
    padding: 25px;
  }
}
